@import "@passlet/ui/globals.css";

@theme inline {
	--font-open-runde: var(--font-family-open-runde);
}

@layer base {
	html {
		scrollbar-gutter: stable;
	}
}

@utility border-overlay {
	outline: 1px solid rgba(0, 0, 0, 0.1);
	outline-offset: -1px;
}

@utility dark-border-overlay {
	outline: 1px solid rgba(255, 255, 255, 0.1);
	outline-offset: -1px;
}

@utility border-shadow {
	box-shadow:
		0px 0px 0px 1px rgba(0, 0, 0, 0.06),
		0px 1px 2px -1px rgba(0, 0, 0, 0.06),
		0px 2px 4px 0px rgba(0, 0, 0, 0.04);
}

@utility hover-border-shadow {
	box-shadow:
		0px 0px 0px 1px rgba(0, 0, 0, 0.08),
		0px 1px 2px -1px rgba(0, 0, 0, 0.08),
		0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}
