@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/amber-alpha.css";
@import "@radix-ui/colors/amber-dark.css";
@import "@radix-ui/colors/amber-dark-alpha.css";
@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-alpha.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/blue-dark-alpha.css";
@import "@radix-ui/colors/bronze.css";
@import "@radix-ui/colors/bronze-alpha.css";
@import "@radix-ui/colors/bronze-dark.css";
@import "@radix-ui/colors/bronze-dark-alpha.css";
@import "@radix-ui/colors/brown.css";
@import "@radix-ui/colors/brown-alpha.css";
@import "@radix-ui/colors/brown-dark.css";
@import "@radix-ui/colors/brown-dark-alpha.css";
@import "@radix-ui/colors/crimson.css";
@import "@radix-ui/colors/crimson-alpha.css";
@import "@radix-ui/colors/crimson-dark.css";
@import "@radix-ui/colors/crimson-dark-alpha.css";
@import "@radix-ui/colors/cyan.css";
@import "@radix-ui/colors/cyan-alpha.css";
@import "@radix-ui/colors/cyan-dark.css";
@import "@radix-ui/colors/cyan-dark-alpha.css";
@import "@radix-ui/colors/gold.css";
@import "@radix-ui/colors/gold-alpha.css";
@import "@radix-ui/colors/gold-dark.css";
@import "@radix-ui/colors/gold-dark-alpha.css";
@import "@radix-ui/colors/grass.css";
@import "@radix-ui/colors/grass-alpha.css";
@import "@radix-ui/colors/grass-dark.css";
@import "@radix-ui/colors/grass-dark-alpha.css";
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-alpha.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/gray-dark-alpha.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/green-alpha.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/green-dark-alpha.css";
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/indigo-alpha.css";
@import "@radix-ui/colors/indigo-dark.css";
@import "@radix-ui/colors/indigo-dark-alpha.css";
@import "@radix-ui/colors/iris.css";
@import "@radix-ui/colors/iris-alpha.css";
@import "@radix-ui/colors/iris-dark.css";
@import "@radix-ui/colors/iris-dark-alpha.css";
@import "@radix-ui/colors/jade.css";
@import "@radix-ui/colors/jade-alpha.css";
@import "@radix-ui/colors/jade-dark.css";
@import "@radix-ui/colors/jade-dark-alpha.css";
@import "@radix-ui/colors/lime.css";
@import "@radix-ui/colors/lime-alpha.css";
@import "@radix-ui/colors/lime-dark.css";
@import "@radix-ui/colors/lime-dark-alpha.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/mauve-alpha.css";
@import "@radix-ui/colors/mauve-dark.css";
@import "@radix-ui/colors/mauve-dark-alpha.css";
@import "@radix-ui/colors/mint.css";
@import "@radix-ui/colors/mint-alpha.css";
@import "@radix-ui/colors/mint-dark.css";
@import "@radix-ui/colors/mint-dark-alpha.css";
@import "@radix-ui/colors/olive.css";
@import "@radix-ui/colors/olive-alpha.css";
@import "@radix-ui/colors/olive-dark.css";
@import "@radix-ui/colors/olive-dark-alpha.css";
@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/orange-alpha.css";
@import "@radix-ui/colors/orange-dark.css";
@import "@radix-ui/colors/orange-dark-alpha.css";
@import "@radix-ui/colors/pink.css";
@import "@radix-ui/colors/pink-alpha.css";
@import "@radix-ui/colors/pink-dark.css";
@import "@radix-ui/colors/pink-dark-alpha.css";
@import "@radix-ui/colors/plum.css";
@import "@radix-ui/colors/plum-alpha.css";
@import "@radix-ui/colors/plum-dark.css";
@import "@radix-ui/colors/plum-dark-alpha.css";
@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/purple-alpha.css";
@import "@radix-ui/colors/purple-dark.css";
@import "@radix-ui/colors/purple-dark-alpha.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-alpha.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/red-dark-alpha.css";
@import "@radix-ui/colors/ruby.css";
@import "@radix-ui/colors/ruby-alpha.css";
@import "@radix-ui/colors/ruby-dark.css";
@import "@radix-ui/colors/ruby-dark-alpha.css";
@import "@radix-ui/colors/sage.css";
@import "@radix-ui/colors/sage-alpha.css";
@import "@radix-ui/colors/sage-dark.css";
@import "@radix-ui/colors/sage-dark-alpha.css";
@import "@radix-ui/colors/sand.css";
@import "@radix-ui/colors/sand-alpha.css";
@import "@radix-ui/colors/sand-dark.css";
@import "@radix-ui/colors/sand-dark-alpha.css";
@import "@radix-ui/colors/sky.css";
@import "@radix-ui/colors/sky-alpha.css";
@import "@radix-ui/colors/sky-dark.css";
@import "@radix-ui/colors/sky-dark-alpha.css";
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/slate-alpha.css";
@import "@radix-ui/colors/slate-dark.css";
@import "@radix-ui/colors/slate-dark-alpha.css";
@import "@radix-ui/colors/teal.css";
@import "@radix-ui/colors/teal-alpha.css";
@import "@radix-ui/colors/teal-dark.css";
@import "@radix-ui/colors/teal-dark-alpha.css";
@import "@radix-ui/colors/tomato.css";
@import "@radix-ui/colors/tomato-alpha.css";
@import "@radix-ui/colors/tomato-dark.css";
@import "@radix-ui/colors/tomato-dark-alpha.css";
@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/violet-alpha.css";
@import "@radix-ui/colors/violet-dark.css";
@import "@radix-ui/colors/violet-dark-alpha.css";
@import "@radix-ui/colors/white-alpha.css";
@import "@radix-ui/colors/yellow.css";
@import "@radix-ui/colors/yellow-alpha.css";
@import "@radix-ui/colors/yellow-dark.css";
@import "@radix-ui/colors/yellow-dark-alpha.css";
@source "../../../apps/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.58 0.22 27);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.809 0.105 251.813);
	--chart-2: oklch(0.623 0.214 259.815);
	--chart-3: oklch(0.546 0.245 262.881);
	--chart-4: oklch(0.488 0.243 264.376);
	--chart-5: oklch(0.424 0.199 265.638);
	--radius: 0.625rem;
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.87 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.371 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.809 0.105 251.813);
	--chart-2: oklch(0.623 0.214 259.815);
	--chart-3: oklch(0.546 0.245 262.881);
	--chart-4: oklch(0.488 0.243 264.376);
	--chart-5: oklch(0.424 0.199 265.638);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
	--font-sans: "Inter Variable", sans-serif;
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-foreground: var(--foreground);
	--color-background: var(--background);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}
}

@utility hit-area-debug {
	position: relative;
	&::before {
		position: absolute;
		top: var(--hit-area-t, 0px);
		right: var(--hit-area-r, 0px);
		bottom: var(--hit-area-b, 0px);
		left: var(--hit-area-l, 0px);
		pointer-events: inherit;
		content: "";
		@apply border border-dashed border-blue-500 bg-blue-500/10;
	}
	&:hover::before {
		@apply border border-dashed border-green-500 bg-green-500/10;
	}
}

@utility hit-area {
	position: relative;
	&::before {
		position: absolute;
		top: var(--hit-area-t, 0px);
		right: var(--hit-area-r, 0px);
		bottom: var(--hit-area-b, 0px);
		left: var(--hit-area-l, 0px);
		pointer-events: inherit;
		content: "";
	}
}

@utility hit-area-* {
	--hit-area-t: --spacing(--value(number) * -1);
	--hit-area-t: calc(--value([*]) * -1);
	--hit-area-b: --spacing(--value(number) * -1);
	--hit-area-b: calc(--value([*]) * -1);
	--hit-area-l: --spacing(--value(number) * -1);
	--hit-area-l: calc(--value([*]) * -1);
	--hit-area-r: --spacing(--value(number) * -1);
	--hit-area-r: calc(--value([*]) * -1);
	position: relative;
	&::before {
		position: absolute;
		top: var(--hit-area-t, 0px);
		right: var(--hit-area-r, 0px);
		bottom: var(--hit-area-b, 0px);
		left: var(--hit-area-l, 0px);
		pointer-events: inherit;
		content: "";
	}
}

@utility hit-area-l-* {
	--hit-area-l: --spacing(--value(number) * -1);
	--hit-area-l: calc(--value([*]) * -1);
	position: relative;
	&::before {
		position: absolute;
		top: var(--hit-area-t, 0px);
		right: var(--hit-area-r, 0px);
		bottom: var(--hit-area-b, 0px);
		left: var(--hit-area-l, 0px);
		pointer-events: inherit;
		content: "";
	}
}

@utility hit-area-r-* {
	--hit-area-r: --spacing(--value(number) * -1);
	--hit-area-r: calc(--value([*]) * -1);
	position: relative;
	&::before {
		position: absolute;
		top: var(--hit-area-t, 0px);
		right: var(--hit-area-r, 0px);
		bottom: var(--hit-area-b, 0px);
		left: var(--hit-area-l, 0px);
		pointer-events: inherit;
		content: "";
	}
}

@utility hit-area-t-* {
	--hit-area-t: --spacing(--value(number) * -1);
	--hit-area-t: calc(--value([*]) * -1);
	position: relative;
	&::before {
		position: absolute;
		top: var(--hit-area-t, 0px);
		right: var(--hit-area-r, 0px);
		bottom: var(--hit-area-b, 0px);
		left: var(--hit-area-l, 0px);
		pointer-events: inherit;
		content: "";
	}
}

@utility hit-area-b-* {
	--hit-area-b: --spacing(--value(number) * -1);
	--hit-area-b: calc(--value([*]) * -1);
	position: relative;
	&::before {
		position: absolute;
		top: var(--hit-area-t, 0px);
		right: var(--hit-area-r, 0px);
		bottom: var(--hit-area-b, 0px);
		left: var(--hit-area-l, 0px);
		pointer-events: inherit;
		content: "";
	}
}

@utility hit-area-x-* {
	--hit-area-l: --spacing(--value(number) * -1);
	--hit-area-l: calc(--value([*]) * -1);
	--hit-area-r: --spacing(--value(number) * -1);
	--hit-area-r: calc(--value([*]) * -1);
	position: relative;
	&::before {
		position: absolute;
		top: var(--hit-area-t, 0px);
		right: var(--hit-area-r, 0px);
		bottom: var(--hit-area-b, 0px);
		left: var(--hit-area-l, 0px);
		pointer-events: inherit;
		content: "";
	}
}

@utility hit-area-y-* {
	--hit-area-t: --spacing(--value(number) * -1);
	--hit-area-t: calc(--value([*]) * -1);
	--hit-area-b: --spacing(--value(number) * -1);
	--hit-area-b: calc(--value([*]) * -1);
	position: relative;
	&::before {
		position: absolute;
		top: var(--hit-area-t, 0px);
		right: var(--hit-area-r, 0px);
		bottom: var(--hit-area-b, 0px);
		left: var(--hit-area-l, 0px);
		pointer-events: inherit;
		content: "";
	}
}
